*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
text-decoration: none;
}

.hero-title {
    color: #fff;
    z-index: 10;
}

.hero,
.content-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
    h1,
    h2 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem; 
    }
    h3 {
        margin: 0.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        opacity: 1;
    }
}

.content-panel {
    padding: 2rem;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}

.hero-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    &:hover {
        color: white;
        background: rgba(74, 86, 92, 0.8);
        transition: all 0.5s ease;
    }
}

.logo {
    position: relative;
    margin-right: auto;
    margin-left: 1rem;
    height: 100%;
    width: 70px;
    justify-self: flex-start;
    
}

.about-image {
    height: 250px;
    width: auto;
    margin-bottom: 0.5rem;
}

.image-description {
    font-size: 1.25rem;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    padding: 4rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-div h1 {
    font-size: 3rem;
}

.about-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.about-2 {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

.about-3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.about-4 {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

